.menu-header {
/*    position: fixed;*/
position: relative;
    top: 0;
    width: 100%;
    left: 50%; 
    transform: translateX(-50%);
    background-color: #1F1F1F; /* Dark gray background */
    text-align: center;
    padding: 10px 0;
   margin-top:0px;
    
}

.menu-item {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 15px;
    transition-duration: 0.3s;
}
.menu-item a{
color:white;
font-weight:normal;
}

.menu-item-img img {
    height: 50px; /* Or your preferred size */
    vertical-align: middle;
    margin-right: 20px;
}

.menu-item:hover {
    color: #CCCCCC; /* Lighter color on hover */
}

.menu-launch-button {
    background-color: #1F1F1F;
    border: 3px solid #004F8B; /* Light blue border */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight:bold;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.menu-launch-button:hover {
    background-color: #2E2E2E; /* Slightly lighter gray on hover */
    border-color: #2A79A5; /* Slightly brighter blue on hover */
    transform: scale(1.05);
}

.rewards-menu {
    background-color: #F8B128;
    border: 3px solid #004F8B; /* Light blue border */
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight:bold;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

}

.rewards-menu:hover {
    background-color: #FDC860; /* Slightly lighter gray on hover */
    border-color: #2A79A5; /* Slightly brighter blue on hover */
    transform: scale(1.05);
    color:black;
}
