/*styles.css*/
a {
color:white;
}

.terms {
position:fixed;
font-size: 9pt;
margin-left:50%; /* Adjust as needed */
    transform: translateX(-50%);
bottom:0px;
color:#A2A2A2;
background-color:#1E1E1E;
padding:3px;
}

body {
    font-family: 'Lato', Arial, sans-serif;
    background: #171717;
    color: white;
    text-align: center;
    margin:auto;
/*    margin-top:150px;*/

}


.connectWalletTextClass {
font-size: 16pt;
font-weight:bold;
margin-bottom:20px;
margin-top: 20px;
padding-top: 20px;
padding-bottom: 15px;
display: block;
 -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

/* Tooltip container */
.tooltip {
    /* Your custom styles here */
    font-size: 14px; /* Example: change font size */
    background-color: #f8f9fa; /* Example: change background color */
    color: black; /* Example: change text color */
    border: 1px solid #ddd; /* Example: add border */
    border-radius: 4px; /* Example: round corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Example: add shadow */
 -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

/* Tooltip arrow */
.tooltip .arrow::before {
    border-color: #f8f9fa; /* Match the border color with the background color of the tooltip */
}

/* Tooltip inner */
.tooltip-inner {
    max-width: 200px; /* Example: limit maximum width */
    padding: 8px 15px; /* Example: adjust padding */
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.button {
    background-color: #004F8B; /* Light blue */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16pt;
 -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

.button:hover {
    background-color: #0073CF;
}

.status {
    margin-top: 10px;
    color: green;
}

.contract-selection {
    margin-top: 20px;
}

.contract-info {
    background-color: #262626;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
 -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

.actions {
    margin-top: 20px;
}

.input-group {
    margin-top: 15px;
}

.giveaway {
    display: none; /* Hidden by default, can be shown based on contract selection */
    margin-top: 20px;
}

#fieldContainer {
    margin-left:50%; /* Adjust as needed */
    margin-top:10px;
    transform: translateX(-50%);
    background-color: #262626;
    border: 1px solid #004F8B;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    color: white;
    width:900px;
 -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;

}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

textarea {
    width: 60%;
    height: 60px;
    margin-bottom: 10px;
    font-size:8pt;
    border-radius: 5px;
    padding:5px;
 -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}
}

#amount1, #amount2 {
font-size:11pt;
border-radius: 5px;
padding:7px;
 -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

#contract1Details, #contract2Details {
/*align-items: center; */
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

#contract1Explanation, #contract2Explanation {
text-align: center;
font-size:10pt;
 -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

/* Hide the buttons initially */
#timelock1Button, #withdraw1Button, #giveaway2Button, #timelock2Button, #withdraw2Button, #amount1, #amount2, #ethAddresses, #giveawayAmounts, #contract1Explanation, #contract2Explanation {
    display: none;
    margin:auto;
    margin-top:15px;
    margin-bottom:15px;
 -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;

}

#contractSelect {
    font-size: 16pt;
    color: white; /* Text color */
    background-color: #004F8B; /* Background color */
    border: none;
    padding: 10px;
    border-radius: 5px;
    -webkit-appearance: none; /* Removes default styling for select on Webkit browsers */
    -moz-appearance: none; /* Removes default styling for select on Mozilla browsers */
   appearance: none;
    width: 300px;
    text-align:center;
    margin-left:50%;
    transform: translateX(-50%);
 -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}
#contractSelect:hover {
outline: 1px solid #0073CF;
}

.contractSelect::after {
content:"\25b6";
color:white;
z-index:2;
position: absolute;
top: 0;
right: 0;
display:block;
opacity:1;
}

.radio-buttons {
    display: flex;
/*    align-items: center;*/
    margin: 10px 0;
        justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
 -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}


.radio-buttons input[type="radio"] {
   -webkit-appearance: none;
    -moz-appearance: none;
   appearance: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 3px;
    background-clip: content-box;
    border: 2px solid #004F8B;
    background-color: #002A4A;
    border-radius: 50%;
    box-sizing: border-box;
    margin-left:20px;
    margin-right:0px;
 display:none!important;
}

.radio-buttons input[type="radio"]:checked {
    background-color: white;
	box-sizing: border-box;
display:none;
}

.radio-buttons label {
    font-size: 16pt;
    margin-left: 8px;
    color: white; /* Label color */
    cursor: pointer;
    box-sizing: border-box;
border-radius: 5px;
padding-left:10px;
padding-right:10px;
padding-top:6px;
padding-bottom:6px;
background-color:#171717;
 -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

.radio-buttons input[type="radio"]:hover {
    outline: 2px solid #0073CF; /* Thinner blue border on hover */
box-sizing: border-box;
border-radius: 5px;
display:none;
}

.radio-buttons input[type="radio"]:hover + label {
outline: 1px solid #0073CF;
box-sizing: border-box;
border-radius: 5px;
}

/* Checked Style */
.radio-buttons input[type="radio"]:checked {
    background-color: white;
    outline: 2px solid #0073CF; /* Thicker blue border when selected */
box-sizing: border-box;
display:none;
}

.radio-buttons input[type="radio"]:checked + label {
outline: 3px solid #0073CF;
box-sizing: border-box;
border-radius: 5px;
}

.contract2infoheader {
    margin: 0px; /* Example margin */
    padding: 0px; /* Example padding */
    /* Add other styling as needed */
}

.contract1infoheader {
    margin: 0px; /* Example margin */
    padding: 0px; /* Example padding */
    /* Add other styling as needed */
}


#contractInfoContainer {
    position: fixed; /* Adjust as needed */
    bottom: 50px; /* Adjust as needed */
    margin-left:50%; /* Adjust as needed */
    transform: translateX(-50%);
    background-color: #262626;
    border: 1px solid #004F8B;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    color: white;
    max-width: 400px; /* Adjust as needed */
    display: none;
 -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

#contract1InfoSection, #contract2InfoSection {
    margin-bottom: 0px;
 -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

/* Radio Buttons Style Adjustment */
.radio-buttons input[type="radio"]:not(:checked) {
    background-color: #002A4A;
box-sizing: border-box;
display:none;
}

.radio-buttons input[type="radio"]:checked {
    background-color: white;
box-sizing: border-box;
display:none;
}

#yourTokensText {
color: #2CB723;
font-size:15pt;
font-weight:bold;
 -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}


/* Responsive Design - Phone */
@media screen and (max-width: 768px) {

#fieldContainer {
width:100%;
}

}

