/* General Styles */

#external-link1, #external-link2, #external-link3, #external-link4, #contract-heading {
display: inline-block;
        vertical-align: middle;
}
#external-link1, #external-link2, #external-link3, #external-link4, #moreinfo {
font-size:8pt;
horizontal-align:right;
}

.governance-text-container {
background-color:#060F1C;
}
.governance-text {
background-color:#0E223F;
color:white;
margin-left:50px;
margin-right:50px;
padding:20px;
border-radius:10px;

}

.container {
    display: flex;
    justify-content: space-evenly;
 /*   background-color: #0A192F;*/

  /*  background-color:#171717;*/
    background-color:#060F1C;
    color: white;
    padding: 20px;
    text-align:center;
    
}

body {
    font-family: Lato, Arial;
    background: #171717;
    width: 100%;
    margin: auto;
    position: relative;
    transition: opacity 1s ease-in-out;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    color: #C0E4FE;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

a {
    color: white;
}

/* Container Styles */
.body-container {
    width: 1200px;
    
    margin: auto;
    margin-top:0px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0px;
    transition: all 0.3s ease;
}
/*
.body-container:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    background-color: #0E2240;
}
*/

.text-container {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    height: 50%;
    width: 50%;
    margin: auto;
    background-color: rgba(50, 50, 50, 0.5);
    text-align: center;
}

/* Leaderboard and Contract Section Styles */
.contract-section, .leaderboard-container {
    background-color: #0E223F;
    border-radius: 5px;
    padding: 10px;
    padding-bottom:50px;
    margin: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}	
.leaderboard-container {
width:90%;
text-align:center;
margin:auto;
background-color:#11284B;
}

.contract-section h2, .leaderboard-container h2 {
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
}

.leaderboard-container:hover {
    background-color: #1E4580;
}

p {
    background-color: #0A192F; /* Dark blue background */
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
    color: white; /* Assuming you want white text for readability */
}


/* Table Styles */
.contract-section table, .leaderboard-container table {
    width: 50%;
    max-width: 500%;
    border-collapse: collapse;
    margin:auto;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.contract-section th, .leaderboard-container th,
.contract-section td, .leaderboard-container td {
    padding: 12px 15px;
    text-align: left;
}

.contract-section th, .leaderboard-container th {
    background-color: #0D203B;
    color: #FFFFFF;
    text-transform: uppercase;
}

.contract-section tr, .leaderboard-container tr {
    border-bottom: 1px solid #dddddd;
}

.contract-section tr:hover, .leaderboard-container tr:hover {
    background-color: #0E2240;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .body-container, .text-container, .contract-section, .leaderboard-container {
        width: 95%;
        margin: 15px;
        padding: 15px;
    }

    .body-container {
        margin-top: 0px;
    }

    .text-container, .contract-section, .leaderboard-container {
        margin-top: 0px;
    }

    h1 {
        font-size: 17pt;
        margin-left: 50%;
        text-align: center;
        transform: translateX(-50%);
    }
}
